/* /* MENU BAR  */

* {
  box-sizing: border-box;
}

body {
  /* background-color: #000; */
  padding: 0;
  margin: 0;
}

nav {
  /* border: 2px solid red; */
  margin: 0;
  height: 45px;
  width: 100%;
  background-color: #000;
}

.m-side {
  height: 100%;
  width: 200px;
  position: absolute;
  background-color: #000;
  transition: 0.5s ease;
  transform: translateX(-208px);
  left: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 15px 0;
  display: block;
  text-decoration: none;
  transition: 0.2s ease-out;
}

ul li a:hover {
  color: #7c270b;
}

input {
  display: none;
  visibility: hidden;
}

.toggle {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 0;
  left: 10px;
  background-color: #000;
  z-index: 1;
  cursor: pointer;
  /* border: 2px solid red; */
}

.toggle .lines {
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: white;
  transition: 0.3s ease;
}

.toggle .top-l {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .middle-l {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .bottom-l {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked ~ .m-side {
  transform: translate(0);
  /* box-shadow: 0 0 15px rgb(255, 255, 255); */
}

/* Footer Section */
