/* /* MENU BAR  */

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  padding: 0;
  margin: 0;
}

nav {
  /* border: 2px solid red; */
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-content {
  /* border: 2px solid purple; */
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: calc(45px / 2);
}

.nav-logo {
  display: flex;
  height: 45px;
  margin: 5px 0;
  margin: 0 auto;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  width: 100%;
}

.first-icon {
  margin-top: 2px;
}

.second-icon {
  margin-left: 10%;
}

.arrow-container {
  margin-right: 45%;
}

/* HERO IMAGE */
.hero-image {
  background-image: url(/images/shoes-brown.png);
  /* background: linear-gradient(180deg, #252525 6%, #8B8B8B 100%); */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;
}

/* MAIN */
p {
  font-family: orbitron;
}

main {
  display: flex;
  justify-content: space-between;
}

.section-1 {
  margin-left: 5%;
}

.item-options {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price p {
  font-family: lexend;
}

.section-2 {
  margin-right: 5%;
}

.sect-2-container {
  border-left: 1px solid #5a5a5a;
  border-right: 1px solid #5a5a5a;
  padding-left: 10%;
  padding-right: 10%;
}

.logo-container {
  display: flex;
  height: 150px;
  justify-self: center;
}

.more-options {
  width: auto;
}

.more-options p {
  font-family: questrial;
  font-size: 23px;
}

#shipping {
  margin-bottom: 25px;
}

.add-cart-btn {
  text-align: center;
  margin-bottom: 0;
  padding: 25px 70px;
  border: 0.914px solid #702528;
  color: white;
  font-family: questrial;
  font-size: 30px;
  text-decoration: none;
  background: linear-gradient(
    103deg,
    rgba(130, 22, 25, 0.8) -0.19%,
    rgba(130, 22, 25, 0.1) 81.19%
  );
}

@font-face {
  font-family: orbitron;
  src: url(/fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: lexend;
  src: url(/fonts/Lexend-VariableFont_wght.ttf);
}

h1,
h2,
h3 {
  font-family: orbitron;
}

h2 {
  font-size: 50px;
}
