/* /* MENU BAR  */

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav {
  /* border: 2px solid red; */
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-content {
  /* border: 2px solid purple; */
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: calc(45px / 2);
}

.nav-logo {
  display: flex;
  height: 45px;
  margin: 5px 0;
  margin: 0 auto;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  width: 100%;
}

.first-icon {
  margin-top: 2px;
}

.second-icon {
  margin-left: 10%;
}

.arrow-container {
  margin-right: 45%;
}

.active-page {
  color: #7c270b;
}

/* Hero image */
.hero-image {
  background: url(/images/Nemesis-brakes-calipers.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 93.5vh;
  /* border: 2px solid red; */
}

.red-button:hover {
  border: 1px solid white;
}

h1 {
  font-size: 200px;
}

/* Sidebar */
.toggle {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #65697f;
  cursor: pointer;
  transition: 0.5s ease;
  right: 0;
  top: 60px;
  z-index: 1;
}

.toggle img {
  display: flex;
  justify-self: center;
  padding-top: 5px;
}

input {
  display: none;
  visibility: hidden;
}

input:checked ~ .toggle {
  transform: translateX(-500px);
}

input:checked ~ .sidebar {
  transform: translate(0);
}

.sidebar {
  background-color: #000;
  height: 100%;
  width: 500px;
  position: absolute;
  transition: 0.5s ease;
  transform: translateX(500px);
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
}

/* COSTUMIZE SECTION CONTENT */
.shape-and-arrow {
  display: flex;
}

.shape-and-arrow:has(details[open]) .arrow-down {
  display: none;
}

.shape-and-arrow:has(details:not([open])) .arrow-up {
  display: none;
}
/* :has detects when <details> is open. 
When opened the .arrow-down img is gone and .arrow-up appears. 
When closed the opposite*/

.shape-and-arrow:has(details[open]) .trapezoid-down {
  background: linear-gradient(
    90deg,
    #12162d 6%,
    #1a2148 29.5%,
    #232c5f 52.5%,
    #313c78 100%
  );
  width: 380px;
  height: 80px;
  clip-path: polygon(0% 100%, 85% 100%, 100% 0, 0 0);
  display: flex;
  align-items: center;
  font-family: orbitron;
  font-size: 25px;
  padding-left: 5%;
  cursor: pointer;
}

details > summary {
  background: linear-gradient(
    90deg,
    #12162d 6%,
    #1a2148 29.5%,
    #232c5f 52.5%,
    #313c78 100%
  );
  width: 380px;
  height: 80px;
  clip-path: polygon(0% 100%, 100% 100%, 85% 0, 0 0);
  display: flex;
  align-items: center;
  font-family: orbitron;
  font-size: 25px;
  padding-left: 5%;
  cursor: pointer;
}

details > div {
  background: #131417;
  width: 375px;
  height: 215px;
  margin-top: 5%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-switcher {
  display: flex;
  justify-content: space-around;
}

.colors img {
  display: none;
  cursor: pointer;
}

/* default colors for brakes and calipers*/
#color-default:checked ~ .color-switcher .yellow-check {
  display: block;
}
#color-default:checked ~ .color-switcher .green {
  display: block;
}
#color-default:checked ~ .color-switcher .grey {
  display: block;
}

/* yellow-check is checked */
#yellow-check:checked ~ .color-switcher .yellow-check {
  display: block;
}
#yellow-check:checked ~ .color-switcher .green {
  display: block;
}
#yellow-check:checked ~ .color-switcher .grey {
  display: block;
}
#yellow-check:checked ~ .color-switcher .yellow {
  display: none;
}

/* green is checked */
#green:checked ~ .color-switcher .green-check {
  display: block;
}
#green:checked ~ .color-switcher .yellow {
  display: block;
}
#green:checked ~ .color-switcher .grey {
  display: block;
}
#green:checked ~ .color-switcher .green {
  display: none;
}

/* grey is checked */
#grey:checked ~ .color-switcher .grey-check {
  display: block;
}
#grey:checked ~ .color-switcher .yellow {
  display: block;
}
#grey:checked ~ .color-switcher .green {
  display: block;
}
#grey:checked ~ .color-switcher .grey {
  display: none;
}

.color-names {
  display: flex;
  justify-content: space-around;
}

.red-button {
  border-radius: 170px;
  text-align: center;
  padding: 30px 135px;
  color: white;
  font-size: 30px;
  font-family: lexend;
  text-decoration: none;
  background: linear-gradient(
    103deg,
    rgba(130, 22, 25, 0.8) -0.19%,
    rgba(130, 22, 25, 0.1) 81.19%
  );
  box-shadow: 0px 3.337px 41.714px 0px rgba(255, 255, 255, 0.25);
  border: 0.834px solid #702528;
}

/* Fonts */

@font-face {
  font-family: orbitron;
  src: url(/fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: lexend;
  src: url(/fonts/Lexend-VariableFont_wght.ttf);
}

h1,
h2,
h3,
h4 {
  font-family: orbitron;
}

p {
  font-family: lexend;
}
